README.md
.env

_pycache__/

app/__pycache__/
app/models/__pycache__/
app/routes/__pycache__/
app/utils/__pycache__/
app/tests/__pycache__/
app/instance/__pycache__/
app/migrations/__pycache__/
app/migrations/versions/__pycache__/
instance/__pycache__/
migrations/__pycache__/
migrations/versions/__pycache__/
tests/__pycache__/
.vscode/
.DS_Store
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.env
*.venv/
venv/
env/
ENV/
.idea/
*.swp
*.swo
coverage/
htmlcov/
